body {
  max-width: 624px;
}

pre, code {
  font-size: 1rem;
}

pre {
  overflow: auto;
  padding: 10px;
  background: #efefef;
}

img {
  max-width: 100%;
}

table, th, td {
  border: 1px solid black;
}

table tr th:empty {
  display: none;
}

table td, table th {
  vertical-align: top;
  padding: 5px 10px;
  text-align: left
}

table td > pre, table th > pre {
  background: none;
  padding: 0;
  margin: 0
}

@media (prefers-color-scheme: dark) {
  pre {
    background: #111;
  }

  table, th, td {
    border: 1px solid #aaa;
  }
}
