:root {
    --bg-color: #fff;
    --fg-color: #000;
    --shade-color: #efefef;
    --footer-color: #777;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --fg-color: #fff;
        --shade-color: #222;
        --footer-color: #555;
    }
}

* {
    box-sizing:border-box;
}

body {
    max-width: 550px;

    padding: 1rem;

    font-family: serif;

    color: var(--fg-color);
    background-color: var(--bg-color);
}

.heading {
    text-decoration: none;
    color: var(--fg-color);
}

.heading:hover {
    text-decoration: underline;
}

header h1 {
    margin-bottom: 0;
}

.date {
    border-bottom: 1px dotted var(--fg-color);
}

pre {
    overflow: auto;
    background-color: var(--shade-color);
    padding: 10px;
    font-size: 100%;
}

img {
  width: 100%;margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-style: italic;
  vertical-align: baseline;
}

footer {
  color: var(--footer-color);
}
