:root {
    --bg-color: #fff;
    --fg-color: #000;
    --shade-color: #efefef;
    --footer-color: #595959;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --fg-color: #fff;
        --shade-color: #222;
        --footer-color: #9e9e9e;
    }
}

* {
    box-sizing:border-box;
}

body {
  max-width: 650px;

  padding: 1rem;

  font-family: monospace;
  font-size: 16px;

  color: var(--fg-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  font-weight: normal;
  border-bottom: 2px solid var(--fg-color);
}

.heading {
  text-decoration: none;
  color: var(--fg-color);
}

.header:hover:after {
  content: 'link';
  width: 32px;
  height: 32px;
}

/* .heading:hover {
   color: var(--fg-color);
   }
 */
pre {
    overflow: auto;
    background-color: var(--shade-color);
    padding: 10px;
    font-size: 100%;
}

img {
  width: 100%;margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-style: italic;
  vertical-align: baseline;
}
